.title{
    font-family: 'Cinzel', serif;
}
p{
    font-family: 'Racing Sans One', cursive;    
    padding-bottom: 15px;
}
h2{
    font-family: 'Racing Sans One', cursive;
    font-size: 30px;
    padding-top:10px;
    
}
#Saving{
    padding-left: 600px;
}
#Goal{
    padding-left: 500px;
}
#Nobody{
    padding-left:450px ;
}