.title {
    font-family: 'Cinzel', serif;
    font-size: 60px;
    color: red;
    margin: auto;

}
.earth-image{
    background-image:url("Earth.jpeg");
    position:absolute;
    height:200px;
    width:100%;
    padding-bottom:1050px;
    margin-top:-100px;
    background-repeat:no-repeat;
    background-size:cover;
    z-index:-2;
    filter: blur(10px);
    -webkit-filter:blur(4px);
    
}
.section1 {

    text-align: center;
    background-color: rgba(211,211,211);
    position:absolute;
    padding-bottom: 10px;
   
    margin: auto;
    margin-right:-10px;
    border-style: outset;
    margin-top: -8px;
    margin-bottom: -1px;
    position:relative;
    

}

.tagline{
    
}
.section2 {
    background-color: rgba(255,255,255, .2);
    text-align: center;
    padding: 100px 100px;
    margin: 400px;
    position: relative;
    left: 325px;
    bottom: 300px;

    border-style: inset;
    border-color:  200px;
  
}

.section3 {
        background-color: rgba(255,255,255, .2);
       
    text-align: center;
    padding: 100px;
    margin: 400px;
    position: relative;
    right: 325px;
    bottom: 600px;
    border-style: outset;
    border-color:  200px;
}

.section4 {
        background-color: rgba(255,255,255, .2);
    text-align: center;
    padding: 100px ;
    margin: 400px;
    position: relative;
    left: 325px;
    bottom: 900px;
    border-style: inset;
    border-color:200px;


}

p,
h2 {
    font-family: 'Racing Sans One', cursive;
    padding-bottom: 15px;
}

h2 {
    font-size: 30px;
    padding-top: 10px;


}

#blue {
    color: #16B8FF;
}

#background {

    background-image: linear-gradient(180deg, #500567, #8B12B0);
    position: absolute;
    height:2600px;
    width: 100%;
    z-index: -2;
    opacity: 0.9;
}


.mrwho {
    font-family: Cinzel, serif;
    color: #C71313;
}
.infinityooflet{
    padding:20px;
    border-style:outset;
background-color: rgba(255,255,255, .2);
position:absolute;
left: 800px;
top: 840px;

}
.thanoid{
     padding:20px;
     height:425px;
     width:500px;
    border-style:outset;
background-color: rgba(255,255,255, .2);
position:absolute;
left:80px;
top:270px;
    
    
}
.Contract{
    padding:10px;
    height:400px;
    width:500px;
    border-style:outset;
    background-color: rgba(255,255,255, .2);
position:absolute;
left:50px;
bottom:870px;
    
}

